.form-draggables 
	background-color #D2D2D6
	.draggable-container
		background-color white
		width 150px
		float left
		position relative
		span
			position absolute
			bottom 0
			left 40px
#sortable
	min-height 400px
	.draggable-persisted
		position relative
		min-height 100px
		padding 20px 30px
.buttons-container
	display none
	position absolute
	right 30px
.draggable-persisted:hover
	background-color #EFF3F3
	cursor move
.draggable-persisted:hover .buttons-container
	display block
.ui-form-state-highlight  
	min-height: 120px
	line-height: 1.2em
	border-left 3px solid #3498db
	background-color #EFF3F3
	width: 100%
input.labels
	border none
	margin-bottom 8px
	box-shadow none
	padding-left 0
	background-color transparent 
input.labels:focus
	box-shadow none
.new-item:hover
	cursor move

#addForm input
	width 130px
	margin-left 10px

.cancel-form
	margin-left 4px

.build-header
	padding 20px 10px
	margin 0 20px
	border-bottom 1px solid #eeeeee