.modal-content
	border-radius 0

.media-body button
	margin-top 5px
.message-modal
	position fixed
	right 0
	bottom 0
	padding 0
	margin 0
	left auto 
	.to 
		margin-top 6px
		p
			padding-top 8px
			padding-right 4px
	ul#myTags
		border none
	.from span 
		padding-left 6px
	textarea#message 
		border-radius 0

.ui-autocomplete
	z-index 1051

	