body
	background-color: #F5F5F5
.page-container
	margin-left 200px
	margin-right 220px

.page
	margin 0 auto
	max-width 900px
	margin-top 80px
	background-color #fff
	padding 20px
	position relative

.build-page
	padding 0// overwrite padding for page

.page-header
	position relative
	h1	
		text-align left
	.new
		position absolute
		right 0
		top 5px

.show-comments
	position absolute
	top 0
	right 0
	border-radius 0
	border none
	background-color #F5F5F5
	span
		color #fff
.main-container 
	margin-top: 50px

// used to slide apge container to right
// when viewing left and sub nav

.slide-right 
	margin-left 300px

.drop-hover
	border 3px solid #3498db