body
	background-color: #F5F5F5
.page-container
	position fixed
	left 160px
	right 240px
	z-index 50
	
.page-container.right 
	left 320px
.page-container.left 
	left 220px
.page
	margin 0 auto
	max-width 900px
	margin-top 40px
	background-color #fff
	padding 20px
	position relative
.page-container.page-projects 
	top 0
	bottom 0
	left 0
	right 0
.build-page
	padding 0// overwrite padding for page

.page-header
	position relative
	h1	
		text-align left
	.new
		position absolute
		right 0
		top 5px

.show-comments
	position absolute
	top 0
	right 0
	border-radius 0
	border none
	background-color #F5F5F5
	span
		color #fff
.main-container 
	margin-top: 50px

// used to slide apge container to right
// when viewing left and sub nav

.slide-right 
	margin-left 300px

.drop-hover
	border 3px solid #3498db