.navbar, .navbar-collapse
	background-color #fff 
	.navbar-brand
		text-shadow none
		color #37485D 

.left-nav 
	width 100px
	position fixed
	background-color #3375AE
	bottom 0
	top 50px
	z-index 20
	ul	
		list-style: none
		padding-left 0
		text-align center
		margin-top 30px
		li
			position relative 

			.badge
				position absolute
				z-index 1
				right 20px 
				top 15px
			padding 20px 0

			.bs-glyphicons, .glyphicon 
				font-size 24px
				color #fff
			.wrench
				position absolute
				top 20px
				right 30px

			a
				color #fff
				display block
.sub-nav 
	position fixed
	top 50px
	bottom 0
	left -60px
	background-color #fff
	width 160px
	z-index 10
	.nav-buttons
		padding 10px
		height 50px
	 
	ul
		list-style none
		padding-left 0
		text-align center
		margin-top 20px
		
		li 
			padding 20px 0
			a
				display block
.sub-nav.right
	left 100px
.sub-nav.left
	left 0
.left-nav.left 
	left -100px
.nav > li > a:hover, .nav > li > a:focus
	background-color transparent
